<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <select id="selectAll" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="status != -1">
                status = #{status}
            </if>
        </where>
    </select>
    <select id="getSalesTop10" resultType="com.sky.dto.GoodsSalesDTO">
        select od.name , sum(od.number) as number from order_detail od , orders o where od.order_id = o.id
                                                                                    and o.status = 5
                and o.order_time &gt; #{beginTime}
                and o.order_time &lt; #{endTime}
        group by od.name
        order by number desc
        limit 0,10
    </select>
</mapper>

